<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="d-flex justify-content-center m-4">
    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible fade show" *ngIf="success">
        <span id="err-message">Succès</span> : L'opération a bien été prise en compte
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="error">
        <span id="err-message">Erreur</span> : L'opération n'a pu être prise en compte
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
<h3 class="text-center mb-2 text-uppercase">Gestion des clients</h3>

<div class="d-flex justify-content-around">
    <!-- TODO: when implement search bar -->
    <!-- <div class="input-group sm mb-3 clearfix w-25">
    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Rechercher un client" aria-describedby="basic-addon1">
    <button class="btn btn-outline-info my-2 my-sm-0" type="button" (click)="loadClients()">
                <span class="material-icons-outlined">search</span></button>
</div> -->
    <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#clientModal">
        Ajouter client
    </button>
</div>

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.nomComplet}}</td>
                <td>{{client.telephone}}</td>
                <td>{{client.email}}</td>
                <td>{{client.adresse}}</td>
                <td>

                    <a class="icon" (click)="editClient(client.id)" data-bs-toggle="modal"
                        data-bs-target="#clientModal">
                        <span class="material-icons">edit</span>
                    </a>
                </td>
                <td>
                    <a class="icon" (click)="deleteClient(client.id)">
                        <span class="material-icons">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal for both adding and updating a client -->
<div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="newClient.id == undefined">Ajouter un client
                </h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="newClient.id != undefined">Modifier un client
                </h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="error == true" class="alert alert-danger" role="alert"> Une erreur est survenue : <span
                    id="err-message">{{errMessage}}</span></div>
                <form name="clientForm" method="POST" (submit)="submitForm()">
                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="lastname" name="nom" type="text" placeholder="Nom" required
                                [(ngModel)]="newClient.nomComplet">
                            <label for="lastname">Nom*</label>
                            <!-- TODO: custom messages pour la validation -->
                            <!-- <div class="invalid-feedback">
                                Please choose a username.
                              </div> -->
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="telephone" name="telephone" type="tel"
                                placeholder="0123456789" required [(ngModel)]="newClient.telephone">
                            <label for="telephone">Téléphone*</label>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="email" name="email" type="email"
                                placeholder="email@company.com" required [(ngModel)]="newClient.email">
                            <label for="email">Email*</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="adresse" name="adresse" type="text"
                                placeholder="1 rue de Paris, 75000 Paris" required [(ngModel)]="newClient.adresse">
                            <label for="telephone">Adresse*</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" type="submit" id="submitForm">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>