<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone&display=swap" rel="stylesheet">

<div class="d-flex justify-content-center m-4">
    <!-- Success Alert -->
    <div class="alert alert-success alert-dismissible fade show" *ngIf="success">
        <span id="err-message">Succès</span> : L'opération a bien été prise en compte
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>

    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="error">
        <span id="err-message">Erreur</span> : L'opération n'a pu être prise en compte
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
<h3 class="text-center mb-2 text-uppercase">Gestion des réservations hôtelières</h3>
<form class="d-flex justify-content-around" id="search-container">
    <div class="input-group">
        <div class="search-label"><label for="client-search" class="form-label">Recherche de réservation par client
                :</label></div>
        <select name="client-search" id="client-search" required class="form-select"
            [(ngModel)]="newReservation.client">
            <option value="" selected></option>
            <option *ngFor="let client of clients" [ngValue]="client">Client n°{{client.id}} :
                <span>{{client.nomComplet}}</span>
            </option>
        </select>
        <button class="btn btn-outline-info my-2 my-sm-0" type="button"
            (click)="loadReservationsByClient(newReservation.client?.id)">
            <span class="material-icons-outlined">search</span></button>
    </div>
    <div class="input-group">
        <div class="search-label"><label for="hotel-search" class="form-label">Recherche de réservation par hôtel
                :</label></div>
        <!-- TODO: ajouter [compareWith]="checkHotel"" -->
        <select name="hotel-search" id="hotel-search" required class="form-select" [(ngModel)]="newReservation.hotel">
            <option value="" selected></option>
            <option *ngFor="let hotel of hotels" [ngValue]="hotel">Hôtel n°{{hotel.id}} :
                <span>{{hotel.nom}}</span>
            </option>
        </select>
        <button class="btn btn-outline-info my-2 my-sm-0" type="button"
            (click)="loadReservationsByHotel(newReservation.hotel?.id)">
            <span class="material-icons-outlined">search</span></button>

    </div>
</form>

<div class="d-flex justify-content-around mb-4">
    <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#reservationModal">
        Ajouter reservation
    </button>
</div>

<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Client</th>
                <th>Hôtel</th>
                <th>Début de la réservation</th>
                <th>Fin de la réservation</th>
                <th>Numéro de chambre</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.id}}</td>
                <td>{{reservation.client?.nomComplet}}</td>
                <td>{{reservation.hotel?.nom}}</td>
                <td>{{reservation.dateDebut}}</td>
                <td>{{reservation.dateFin}}</td>
                <td>{{reservation.numChambre}}</td>
                <td>

                    <a class="icon" (click)="editReservation(reservation.id)" data-bs-toggle="modal"
                        data-bs-target="#reservationModal">
                        <span class="material-icons">edit</span>
                    </a>
                </td>
                <td>
                    <a class="icon" (click)="deleteReservation(reservation.id)">
                        <span class="material-icons">delete</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal for both adding and updating a reservation -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="newReservation.id == undefined">Ajouter une
                    réservation
                </h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="newReservation.id != undefined">Modifier une
                    réservation
                </h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="error == true" class="alert alert-danger" role="alert"> Une erreur est survenue : <span
                        id="err-message">{{errMessage}}</span></div>
                <form name="reservationForm" method="POST" (submit)="submitForm()">
                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <select id="client" required name="client" class="form-select"
                                [(ngModel)]="newReservation.client" required>
                                <option *ngFor="let client of clients" [ngValue]="client">
                                    {{client.nomComplet}}
                                </option>
                            </select>
                            <label for="client">Client*</label>

                        </div>
                        <div class="form-group form-floating mb-3">
                            <!-- <input class="form-control" id="hotel" name="hotel" type="text" placeholder="hotel" required
                                [(ngModel)]="newReservation.hotel"> -->


                            <select id="hotel" required name="hotel" class="form-select"
                                [(ngModel)]="newReservation.hotel" required>
                                <!-- <option value="" disabled selected>Sélectionnez l'hôtel</option> -->
                                <option *ngFor="let hotel of hotels" [ngValue]="hotel">
                                    {{hotel.nom}}
                                </option>
                            </select>
                            <label for="hotel">Hôtel*</label>

                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="datedebut" name="datedebut" type="date" value=""
                                placeholder="DD/MM/YYYY" [min]="getTodayDate()" required
                                [(ngModel)]="newReservation.dateDebut">
                            <label for="datedebut">Début de la réservation*</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="datefin" name="datefin" type="date" value=""
                                placeholder="DD/MM/YYYY" required [min]="getTomorrowDate()"
                                [(ngModel)]="newReservation.dateFin">
                            <label for="datefin">Fin de la réservation*</label>
                        </div>
                        <div class="form-group form-floating mb-3">
                            <input class="form-control" id="numchambre" name="numchambre" type="number" min="1"
                                max="500" placeholder="404" required [(ngModel)]="newReservation.numChambre">
                            <label for="numchambre">Numéro de la chambre réservée*</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" type="submit" id="submitForm">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>