<!-- TODO: mettre un *ngIf="guard.isConnected()" -->
<header *ngIf="isUserConnected">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="nav nav-fill w-100 justify-content-space-between">
                <a class="navbar-brand" href="#">
                    <img src="../../assets/hotel-icon.jpg" alt="hotel-icon" width="50"
                        class="d-inline-block align-text-top">
                    <div id="hotel-name">Gestion hôtelière</div>
                </a>
                <a class="nav-item">
                    <a class="btn btn-outline-info" aria-current="page" [routerLink]="['/client']">Clients</a>
                </a>
                <a class="nav-item">
                    <a class="btn btn-outline-info" aria-current="page" [routerLink]="['/hotel']">Hotels</a>
                </a>
                <a class="nav-item">
                    <a class="btn btn-outline-info" aria-current="page" [routerLink]="['/reservation']">Réservations</a>
                </a>
                <a class="nav-item">
                    <button type="button" class="btn btn-outline-warning"><a id="logout-btn"
                            [routerLink]="['/logout']">Déconnexion</a></button>
                </a>
            </div>
        </div>
    </nav>
</header>