@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* img {
    width: 4%;
} */

h2 {
    font-size     : 24px;
    text-transform: uppercase;
    font-weight   : 400;
    position      : absolute;
    top           : 25%;

}

.btn {

    margin-top: 10px !important;
}

#logout-btn {
    text-decoration: none;
    color: #505050;
}


.navbar-brand {
    padding: 0 !important;
    width: 15vw;
}

#hotel-name {
    position   : absolute;
    top        : 35%;
    left       : 90px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.container-fluid>a {
    text-decoration: none;
}

.bg-light {
    --bs-bg-opacity : 1;
    background-color: #f7f7f7 !important;
}

header {
    min-height: 50px;
}