<!-- TODO: mettre un *ngIf="guard.isConnected()" -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../assets/hotel-icon.jpg" alt="hotel-icon" width="50" class="d-inline-block align-text-top">
                <div id="hotel-name">Gestion hôtelière</div>
            </a>
            <a class="nav justify-content-around">
                <a class="btn btn-outline-info" aria-current="page" href="/client">Clients</a>
            </a>
            <a class="nav justify-content-around">
                <a class="btn btn-outline-info" aria-current="page" href="/hotel">Hotels</a>
            </a>
            <a class="nav justify-content-around">
                <a class="btn btn-outline-info" aria-current="page" href="/reservation">Réservations</a>
            </a>
            <a class="nav justify-content-around">
                <button type="button" class="btn btn-outline-warning"><a style="text-decoration: none; color: #505050"
                                                                         href="/logout">Déconnexion</a></button>
            </a>
        </div>
    </nav>
</header>